<form class="container">
  <h1 class="MasterClass" >Company Profile</h1>
  <div class="row">
<div class="col-6">
  <div class="form-group ">
    <label for="companyname">Company Name</label>
    <input type="email" class="form-control" id="companyname" aria-describedby="emailHelp" placeholder="Company Name">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>

  <div class="form-group">
    <label for="compaddress">Adddress</label>
    <input type="text" class="form-control" id="compaddress" placeholder="Address">
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <select input type="text"  class="form-control" id="country" placeholder="Country">
      <option value="selectcountry" style="color: #D3D3D3;">--select country--</option>
      <option value="saab">India</option>
      <option value="fiat">China</option>
      <option value="audi">USA</option>
    </select>
  </div>
  
<div class="row">
    <div class="form-group col-6" >  
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" placeholder="City">
    </div> 
  
   <div class="form-group col-6" >
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" placeholder="State">
    </div> 
  </div>
  
  <div class="form-group">
    <label for="GSTIN">GST Number</label>
    <input type="text" class="form-control" id="GSTIN" placeholder="GST Number">
  </div>
  <div class="form-group">
    <label for="TIN">TIN Number</label>
    <input type="text" class="form-control" id="TIN" placeholder="TIN Number">
  </div>
</div>

<div class="col-6">

  <div class="form-group">
    <label for="contactperson">Contact Person</label>
    <input type="text" class="form-control" id="contactperson" placeholder="Contat Person">
  </div>

  <div class="form-group">
    <label for="contactnumber">Contact Number</label>
    <input type="text" class="form-control" id="contactnumber" placeholder="Contact Number">
  </div>
  <div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
</div>
</div>
</div>
<div class="wrapper">
  <button type="reset" class="btn btn-primary">Reset</button> &nbsp;
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
