/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel{
    background-color: #f8f8f8 !important;
    box-shadow: none !important;
    border-radius: 0 !important;  
    
  }
  
  .mat-expansion-panel-content > .mat-expansion-panel-body { 
    padding: 0 !important;
    background-color: #ffffff !important;
  }

